<h1>Rehab Collection</h1>

<form action="/musicians/<%= @musician.id %>" method="post">
    <label>
        Musician:
        <input type="text" name="name" value="<%= @musician.name %>"/> 
    </label>
    <label>
        Instrument:
        <input type="hidden" name="instrument" value="<%= @musician.instrument %>"/>
    </label>
    <label>
        Days Here:
        <input type="hidden" name="days_here" value="<%= @musician.days_here %>"/>
    </label>
    <label>
        Collecting Band:
        <select name = "band_id">
            <% for band in @bands %>
                <option  value="<%= band.id %>"><%= band.name %></option> 
            <% end %>
        </select>
    </label>
    <input type="submit" value="Collect">
</form>