<h1>Musician</h1>

<p>Name: <%= @musician.name %></p>
<p>Instrument: <%= @musician.instrument %></p>
<p>Days in Rehab: <%= @musician.days_here %></p>
<p>Band: <%= @musician.band.name if @musician.band %></p>

<% unless @musician.band_id %>

<% if @musician.can_be_collected? %>
<p>
  <span>Ready for Collection!</span>
</p>
<p>
  <form action="/musicians/<%= @musician.id %>/collection" method="get">
    <input type="submit" value="Collect" />
  </form>
</p> 

<% else %>
<p>
 <span>Not fully cleansed!</span>
</p>
<% end %>

<% end %>

<form action="/musicians/<%= @musician.id %>/delete" method="post">
  <input type="submit" value="Delete" />
</form>