<h1>Musician</h1>

<p>Name: <%= @musician.name %></p>
<p>Instrument: <%= @musician.instrument %></p>
<p>Days in Rehab: <%= @musician.days_here %></p>
<p>Band: <%= @musician.band.name if @musician.band %></p>

<form action="/musicians/<%= @musician.id %>/collection" method="get">
    <input type="submit" value="Edit" />
</form>

<form action="/musicians/<%= @musician.id %>/delete" method="post">
    <input type="submit" value="Delete" />
</form>