<h1>Musician</h1>

<p>Name: <%= @musician.name %></p>
<p>Instrument: <%= @musician.instrument %></p>
<p>Days in Rehab: <%= @musician.days_here %></p>
<p>Band: <%= @musician.band.name if @musician.band %></p>

<% unless @musician.band_id %>

<% if @musician.can_be_collected? %>
  <li>
    Ready for Collection:
  </li>
  <li>
      <form action="/musicians/<%= @musician.id %>/collection" method="get">
          <input type="submit" value="Collect" />
      </form>
  </li> 

  <% else %>
  <li>
     Not fully cleansed!
  </li>
  <% end %>

  <% end %>

<form action="/musicians/<%= @musician.id %>/delete" method="post">
    <input type="submit" value="Delete" />
</form>